.game-body {
    position: relative;
    background: #5cc29f;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-score {
    position: absolute;
    font-size: 1.1rem;
    padding: 5px;
    top: -38px;
    right: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.20);
    border-left: 2px solid rgba(0, 0, 0, 0.20);
    border-right: 2px solid rgba(0, 0, 0, 0.20);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.back {
    position: absolute;
    top: 5px;
    right: 5px;
}

.game-back-button {
    font-size: 1.2rem;
    color: #48997d;
    border: 2px solid #48997d;
    padding: 5px;
    border-radius: 8px;
}

.game-questions-counter {
    position: absolute;
    font-size: 1.1rem;
    padding: 5px;
    top: -38px;
    left: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.20);
    border-left: 2px solid rgba(0, 0, 0, 0.20);
    border-right: 2px solid rgba(0, 0, 0, 0.20);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.game-title {
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 1.8rem;
    color: #FFF;
}

.game-title-intitule {
    display: block;
    font-size: 1.4rem;
    text-align: center;
}

.game-title-question {
    display: block;
    text-align: center;
}

.game-container {
    position: relative;
    max-width: 600px;
    width: 100%;
}

.selection-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.selected-label {
    position: relative;
}

.selected-label:hover {
    box-shadow: 4px 4px 4px 0.5px rgba(0, 0, 0, 0.5);
}

.selected-label input{
	display: none
}

.selected-label input:checked ~ .selected-content {
    box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.5);
    border: solid 2px #6b6b6b;
  }

.proposition {
    font-size: 1.5rem;
}

.selected-content {
    text-align: center;
	border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0);
    border: solid 2px transparent;
	background: #fff;
	padding: 15px;
	display: flex;
    align-items: center;
	place-content: center;
    cursor: pointer;
}

.proposition-infos {
    margin-top: 15px;
}

.numero-proposition {
    position: absolute;
    left: 10px;
    bottom: 5px;
    font-size: 1.2rem;
    color: #bdbdbd;
}

.submit-button {
    width: 100%;
    border: 2px solid #48997d;
    padding: 5px;
    margin-top: 15px;
    color: #48997d;
    font-weight: bold;
    font-size: 1.5rem;
    transition: .1s ease-in-out all;
}

.submit-button:hover {
    border: 2px solid #FFF;
    color: #FFF;
    background-color: #48997d;
}

.error-response {
    margin-top: 5px;
    border: 2px solid #ea4335;
    background: #ea4335;
    border-radius: 5px;
    color: #fff;
    padding: 4px;
    text-align: center;
}

.disabled-button {
    cursor: not-allowed;
    opacity: 0.4;
    border: none;
}

.game-response-label {
    display: block;
    color: #FFF;
    font-size: 1.2rem;
}

.game-response {
    border: none;
    padding: 5px;
    font-size: 1.2rem;
    width: 100%;
    border-radius: 8px;
    text-align: center;
}

.game-response:focus {
    outline: none;
}

.cursor-pointer {
    cursor: pointer;
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
}

.error-title {
    font-size: 1.8rem;
    color: #FFF;
    letter-spacing: 1.5px;
}